:root {
    --light-gray: rgba(238,237,246,255);
    --gray: rgba(72,87,116,255);
    --teal: rgba(158,202,205,255);
    --charcoal: rgba(49,52,60,255);
}

/*  Removing browser-enforced styles applied to the margin and padding properties of every element
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-gray);
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER & NAV STYLES START */
header {
    padding: 40px 35px 10px 35px;
    background-color: var(--charcoal);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    top: 0;       
}


header h1 {
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 36px;    
    text-align: right;
    background-color: var(--teal);
    justify-content: start; 
    color: var(--charcoal);
    text-decoration: none;
    padding: 5px 5px 5px 45px;    
}

header a{
    text-decoration: none;
    color:var(--charcoal);    
}

header nav {
    margin: 7px 0; 
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--teal);
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
/* HEADER & NAV STYLES END */

/* HERO STYLES START */
.hero {
    background-image: url("../images/hero-bg.jpg");    
    background-size: cover;
    background-position: center; 
    display: flex;
    justify-content: right;    
    align-items: flex-end;     
    background-position: 80%;
    height: 200px;    
}

.hero h2 {
    background-color: var(--teal);
    padding: 10px;
    margin: 20px;
}
/* HERO STYLES END */

/* TITLE SECTIONS STYLES START */
.title-sections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.title-sections h2 {
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 48px;
    color: var(--gray);    
    border-right: 4px solid;        
    margin: auto 15px;
    padding: 0 10px 25px 40px;
    text-align: right;
    margin-bottom: 30px;       
 }
 /* TITLE SECTIONS STYLES END */

 /* UTILITY CLASSES STYLES START */
.flex-row {
    display: inline-flex;    
    justify-content: space-between;
    align-items: flex-start; 
    flex-direction: row;       
            
}
 /* UTILITY CLASSES STYLES END */

/* ABOUT ME STYLES START */
 .about-me p {
    color: var(--gray);
    font-size: 16px;    
    margin: 0 0 10px 15px;     
    text-align: left;  
    line-height: 1.5;
 }
/* ABOUT ME STYLES END */

/* WORK ME STYLES START */

.work section {
    border-left: 4px solid;
}

.work h2 {
    border-right: 0;
}

 .work h2 {
     padding-left: 65px;
     padding-right: 5px;
     margin-right: 0;
 }

 .work-img-1 {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;    
    flex: 9999 80%;
    max-width: 100%;
 }
 .work-img-1 h3{
    flex: 9998 100%;
}
/* WORK STYLES END */
 


 




