:root {
    --light-gray: rgba(238,237,246,255);
    --gray: rgba(72,87,116,255);
    --teal: rgba(158,202,205,255);
    --charcoal: rgba(49,52,60,255);
}

/*  Removing browser-enforced styles applied to the margin and padding properties of every element
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-gray);
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER & NAV STYLES START */
header {
    padding: 40px 35px;
    background-color: var(--charcoal);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    top: 0;   
}


header h1 {
    font-weight: bold;
    font-size: 36px;
    text-align: right;
    background-color: var(--teal);
    justify-content: left; 
    color: var(--charcoal);
    text-decoration: none;
}

header a{
    text-decoration: none;
    color:var(--charcoal);
}

header nav {
    margin: 7px 0; 
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color:var(--teal);
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
/* HEADER & NAV STYLES END */

/* HERO STYLES START */
.hero {
    background-image: url("../images/hero-bg.jpg");    
    background-size: cover;
    background-position: center; 
    display: flex;
    justify-content: right;    
    align-items: flex-end;     
    background-position: 80%;
    height: 200px;
    
}

.hero h2 {
    background-color: var(--teal);
    padding: 10px;
    margin: 20px;
}