:root {
    --light-gray: rgba(238,237,246,255);
    --gray: rgba(44,93,169,255);
    --teal: rgba(202,235,237,255);
    --charcoal: rgba(49,52,60,255);
}

/*  Removing browser-enforced styles applied to the margin and padding properties of every element
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-gray);
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER & NAV STYLES START */
header {
    padding: 40px 35px 10px 35px;
    background-color: var(--charcoal);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    top: 0;       
}


header h1 {
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 36px;    
    text-align: left;
    background-color: var(--teal);
    justify-content: start; 
    color: var(--charcoal);
    text-decoration: none;
    padding: 5px 5px 5px 45px;    
}

header a{
    text-decoration: none;
    color:var(--charcoal);    
}

header nav {
    margin: 7px 0; 
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--teal);
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
/* HEADER & NAV STYLES END */

/* HERO STYLES START */
.hero {
    background-image: url("../images/hero-bg.jpg");    
    background-size: cover;
    background-position: center; 
    display: flex;
    justify-content: right;    
    align-items: flex-end;     
    background-position: 80%;
    height: 200px;    
}

.hero h2 {
    background-color: var(--teal);
    padding: 10px;
    margin: 20px;
}
/* HERO STYLES END */
/* UTILITY CLASSES START */
.left-border {
    border-left: 5px solid var(--gray);
    padding: 25px;
}

/* EMPLOYEE INFO STYLES START */
.employee-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
 /* EMPLOYEE INFO STYLES END */

  /* SECTIONS STYLES START */
 .sections {
     width: 100%;
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;
 }

 .sections h2{
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--gray);
    justify-content: center;
    text-align: right;
    padding: 25px;    
 }
/* SECTIONS STYLES END*/

/* ABOUT ME STYLES START */
.about-me div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;
}
.about-me p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--charcoal);
    line-height: 1.5;
    text-align: left;
    margin-bottom: 20px;
    align-items:center;
    width: 80%;
} 
/* ABOUT ME STYLES END */

/* WORK STYLES START */
.work {
    justify-content: flex-start;
}

.work h2{
    margin-right: 0;
    text-align: right;
}

.work div img {
     width: 500px;
     height: 150px;
     opacity: 0.83;
 }

 .work-images {
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     padding: 15px;
     margin: 20px;
 }

 .rows {
    display: flex;
    padding: 25px;
    padding-left: 0; 
    flex: 24 100%;    
 }

 .img-row-1 {
    max-width: 100%;
    flex: 9999 100%;

 }

 .img-and-caption {
     padding: 25px;
 }
 
 .img-and-caption img {
     border: 5px solid var(--teal);
 }

  div .caption { /* WHAT IS THE PROPER SYNTAX */
    z-index: 2;
    position: relative;
    width: 25%;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--charcoal);
    text-align: left;
    background-color: var(--teal);    
  } 
/* WORK STYLES END */

/* CONTACT ME STYLES START */
.contact-me {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;
}

div.contact-me {
    width: 20%;
}

#contact-me h2 {
    font-size: 40px;
    margin-right: 0;    
    text-align: right;  
}

.contact-links ul {
    display: flex;   
    width: 100%;    
}

.contact-links li {
    padding: 25px;
    justify-content: space-between; 
    align-items: center;
    list-style: none; 
}

.contact-links a {
    text-decoration: none;
    color:var(--gray);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
    
/* CONTACT ME STYLES END */

/* PSEUDO CLASSES START */
.work-images a:hover{
    opacity: 0.53;

}
/* PSEUDO CLASSES END */


 


 




